@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Jersey+25&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.Game-Page {
    background: #111;
    color: white;
    font-family: "Rubik", sans-serif;
}

.Page-Content {
    max-width: 95%;
    margin: auto;
    padding: 40px;
}

.HeroGame {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    gap: 3rem;
    align-items: center;
    margin-bottom: 4rem;
}

.HeroGame h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #f51414;
}

.Game-Meta {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}

.Game-Meta span {
    background: #222;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
}

.Game-Link {
    display: inline-block;
    margin-bottom: 1.5rem;
    color: #4da6ff;
}

.Game-Desc {
    font-size: 1rem;
    line-height: 1.6;
}

.HeroGame video {
    width: 100%;
    border-radius: 10px;
    max-width: 100rem;
    margin-top: 5rem;
}

.System {
    margin-top: 4rem;
}

.System h1 {
    color: #f51414;;
}

.System-Card {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 2rem;
    align-items: center;
    margin-bottom: 4rem;
}

.System-Card:nth-child(even) {
    grid-template-columns: 1fr 1.2fr;
}

.System-Media img,
.System-Media video {
    width: 100%;
    border-radius: 10px;
}

.System-Text h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: white;
}

.System-Text p {
    line-height: 1.6;
    color: white;
}

.Gallery {
    margin-top: 5rem;
    color: #f51414;
}

.Gallery img {
    width: 100%;
    border-radius: 10px;
    transition: transform .3s ease;
}

.Gallery img:hover {
    transform: scale(1.05);
}

.Section-Header {
    font-size: 2rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #333;
    padding-bottom: .5rem;
}
.System-Header {
    text-align: left;
    font-size: 30px;
}
