@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Jersey+25&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.Game-Page {
    margin: auto;
    padding-top: 1rem;
    background-color: #808080;
    font-family: "Jersey 25", sans-serif;
    font-size: 24px;
}

.Page-Content {
    max-width:  80%;
    justify-self: center;
}

.Game-Page h2{
    margin: 0rem;
}
/* HERO */
.Hero-Media video {
    width: 100%;
    max-height: 50rem;
    align-self: center;
    height: auto;
    object-fit: cover;
}

.Hero-Media p {
    white-space: pre-wrap;
}

/* THUMBNAILS */
.Thumbnail-Row {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.Thumbnail-Row img {
    width: 22%;
    cursor: pointer;
    opacity: 0.8;
}

.Thumbnail-Row img:hover {
    opacity: 1;
}

/* INFO */
.Game-Info {
    margin: 3rem 0;
}

/* SYSTEM SECTION */
.System {
    margin-top: 3rem;
}


.System h2 {
    
    margin-bottom: 1rem;
}

.System-Content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: -6rem;
}

.System-Content img {
    width: 100%;
}

.System-Text {
    border: 3px solid black;
    font-family: "Jersey 25", sans-serif;
    padding: 1rem;
    white-space: pre-wrap;
}

.Gallery img {
    max-width: 100%;
    transition: transform 0.55s ease, opacity 0.25s ease;
}

.Gallery img:hover {
    transform: scale(1.06);
}

.Gallery {
    padding-bottom: 2rem;
}

.Section-Header {
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-size: clamp(1.2rem, 4vw, 2.5rem);
    margin-bottom: 2%;
    margin-top: 2%;
}

.System-Header {
    text-align: left;
    font-size: 30px;
}
