.Game-Page {
    margin: auto;
    padding: 2rem;
    background-color: #bebab8;
}

.Page-Content {
    max-width:  80%;
    justify-self: center;
}

.Game-Page h2{
    margin: 0rem;

}

/* HERO */
.Hero-Media video {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* THUMBNAILS */
.Thumbnail-Row {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.Thumbnail-Row img {
    width: 22%;
    cursor: pointer;
    opacity: 0.8;
}

.Thumbnail-Row img:hover {
    opacity: 1;
}

/* INFO */
.Game-Info {
    margin: 3rem 0;
}

/* SYSTEM SECTION */
.System {
    margin-top: 4rem;
}

.System h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.System-Content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.System-Content img {
    width: 100%;
}

.System-Text {
    border: 2px solid black;
    padding: 1rem;
}

.Gallery img {
    max-width: 100%;
}

.Section-Header {
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-size: clamp(1.2rem, 4vw, 2.5rem);
    margin-bottom: 2%;
    margin-top: 2%;
}

.System-Header {
    text-align: right;
    padding-left: 20%;
    padding-right: 20%;
}
